* {
  box-sizing: border-box;
}
body{
	background-color: hsl(212, 23%, 69%);
	display: flex;
	font-size: 13px;
	font-family: 'Manrope', sans-serif;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.main-container{
	background-color: whitesmoke;
	display: grid;
	grid-template-columns: 40% 1fr;
	grid-gap: 20px;
	border-radius: 10px;
	width: 720px

}
.image{
	background-image: url(https://github.com/hemantcgupta/HTML-CSS_Assignments/blob/master/Assignment-1/images/drawers.jpg?raw=true);
	height: 100%;
	background-size: cover;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.info{
	flex: 60%;
	padding: 20px;
	font-weight: 500;
}
.h2{
	font-weight: 700;
}

.pro-container{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	vertical-align: middle;
}
.pro-info{
	margin-left: 15px;
}
.p{
	font-weight: 700;
	padding-left: 10px;

}
/*.share{
	background-color: lightgray; 
	border-radius: 50%;
	margin-left: auto;
}*/

.share-button{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	padding: 5px;
	cursor: pointer;
	vertical-align: middle;
}
.share-button:hover{
	background-color: lightskyblue ;
}
.media-section{
	display: flex;
}
.media-section img{
	padding: 2px;
	margin-top: 5px;
	margin-left: 2px;
}
.media-section p{
	padding: 3px;
	margin-top: 15px;
	margin-left: 10px;
}
.share{
	display: inline-block;
	cursor: pointer;
	background-color: lightgray; 
	background: hsl(210, 46%, 95%);
	border-radius: 50%;
	margin-left: auto;
	width: 30px;
  height: 30px;
}
.share .media-section{
	visibility: hidden;
	width:  190px;
	background: hsl(217, 19%, 35%);
	color:hsl(212, 23%, 69%);
	text-align: center;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -20%;
  margin-left: -80px;
  letter-spacing: 3px;
}
.share .media-section::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  hsl(217, 19%, 35%) transparent transparent transparent;
}
.share .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}