* {
  box-sizing: border-box;
}
body{
	background-color: hsl(212, 23%, 69%);
	display: flex;
	font-size: 13px;
	font-family: 'Manrope', sans-serif;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.main-container{
	background-color: whitesmoke;
	display: grid;
	grid-template-columns: 40% 1fr;
	grid-gap: 20px;
	border-radius: 10px;
	width: 720px

}
.image{
	background-image: url(https://github.com/hemantcgupta/HTML-CSS_Assignments/blob/master/Assignment-1/images/drawers.jpg?raw=true);
	height: 100%;
	background-size: cover;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.info{
	flex: 60%;
	padding: 20px;
	font-weight: 500;
}
.h2{
	font-weight: 700;
}

.pro-container{
	/*display: grid;
	grid-template-columns: 80px 1fr 80px;
	grid-gap: 10px;*/
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
	align-items: center;
}
.avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	vertical-align: middle;
}
.pro-info{
	margin-left: 15px;
}
.p{
	font-weight: 700;
	padding-left: 10px;

}
.share{
	background-color: lightgray; 
	border-radius: 50%;
	margin-left: auto;
}

.share-button{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	padding: 5px;
	cursor: pointer;
	vertical-align: middle;
}

.share-button:hover{
	background-color: lightskyblue ;
}
















/*div {
  -ms-flex: 1;   IE 10   
  flex: 1;
}*/